<template>
  <accordion-element id="Does PeerTube ensure federation compatibility with previous versions?">
    <template #title>
      {{ $gettext('Does PeerTube ensure federation compatibility with previous versions?') }}
    </template>

    <div>
      <p>
        <SafeHTML>
          {{ $gettext('We <strong>try</strong> to keep compatibility with the latest minor version (2.3.1 with 2.2 for example).', true) }}
        </SafeHTML>

        {{ $gettext('Unfortunately we don\'t have enough resources to keep compatibility with other versions.') }}
      </p>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
