<template>
  <accordion-element id="Is PeerTube GDPR compatible?">
    <template #title>
      {{ $gettext('Is PeerTube GDPR compatible?') }}
    </template>

    <div>
      <p>{{ $gettext('Yes, core PeerTube (PeerTube without installed plugins/themes) is compatible with GDPR:') }}</p>

      <ul>
        <li>{{ $gettext('P2P can be disabled by default') }}</li>
        <li>{{ $gettext('It doesn\'t send personal data to any third party if P2P is disabled') }}</li>
        <li>{{ $gettext('Users can delete their account') }}</li>
        <li>{{ $gettext('Administrators can manually export users data from the database. An automatic export tool will be available in the future') }}</li>
      </ul>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
