<template>
  <div :id="title" class="plugin-selection card">
    <h2>
      <icon-plugin></icon-plugin>
      {{ title }}
    </h2>

    <h3>{{ subtitle }}</h3>

    <img width="500" height="220" :src="buildImgUrl('plugin-selection-previews/' + previewName)" alt="preview">

    <p class="mt-3">{{ description }}</p>

    <a target="_blank" rel="noopener noreferrer" :href="url" class="jpt-primary-button jpt-smaller-button">
      {{ $gettext('Plugin homepage') }}
    </a>
  </div>
</template>

<script>
  import { defineComponent } from 'vue'

  import IconPlugin from '../../components/icons/IconPlugin.vue'

  export default defineComponent({
    components: {
      IconPlugin
    },
    props: {
      title: String,
      subtitle: String,
      previewName: String,
      url: String,
      description: String
    }
  })
</script>

<style lang="scss" scoped>
  @import '../../scss/_variables';
  @import '../../scss/_mixins';
  @import '../../scss/_bootstrap-mixins';

  .plugin-selection {
    @include padding(2rem 1.5rem);

    h2 {
      font-weight: $font-semibold;
    }

    h3 {
      margin-bottom: 30px;
    }

    img {
      max-width: 500px;
      width: 100%
    }
  }
</style>
