<template>
  <accordion-element id="Is PeerTube a neutral software?">
    <template #title>
      {{ $gettext('Is PeerTube a neutral software?') }}
    </template>

    <div>
      <p>{{ $gettext('No it is not.') }}</p>

      <p>
        <SafeHTML>
          {{ $gettext('PeerTube is a software created, developed and maintained by <a target="_blank" rel="noopener noreferrer" href="https://framasoft.org">Framasoft</a>, a French non-profit popular educational organization on digital issues.', true) }}
        </SafeHTML>

        {{ $gettext('Framasoft has a French culture, respects French laws and is a political actor (« who participates in the life of the city-state ») of civil society.') }}
      </p>

      <p>
        <SafeHTML>
          {{ $gettext('PeerTube is part of several actions assembled by Framasoft in the <a target="_blank" rel="noopener noreferrer" href="https://contributopia.org">Contributopia roadmap</a>.', true) }}
        </SafeHTML>

        {{ $gettext('These actions aim to propose alternative digital tools to those coming from surveillance capitalism, so that people who do not recognize themselves in such a system can create spaces of freedom.') }}
      </p>

      <p>
        <SafeHTML>
          {{ $gettext('Consequently, PeerTube development and/or management of websites associated with the PeerTube project (<a target="_blank" rel="noopener noreferrer" href="https://joinpeertube.org">joinpeertube.org</a>, <a target="_blank" rel="noopener noreferrer" href="https://instances.joinpeertube.org">instances.joinpeertube.org</a>, <a target="_blank" rel="noopener noreferrer" href="https://search.joinpeertube.org/">search.joinpeertube.org</a>, etc.) may not please everyone (in particular because of different ideas, ideologies of cultures).', true) }}
        </SafeHTML>
      </p>

      <p>
        {{ $gettext('We respect that, and remind that all software of the PeerTube project is free software and can be installed with their own domain name.') }}
      </p>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
