<template>
  <accordion-element id="What web browsers are supported by PeerTube?">
    <template #title>
      {{ $gettext('What web browsers are supported by PeerTube?') }}
    </template>

    <div>
      <p>
        {{ $gettext('The following web browsers are supported by PeerTube:') }}
      </p>

      <ul>
        <li>{{ $gettext('Firefox 78+ on desktop') }}</li>
        <li>{{ $gettext('Latest Edge version on desktop') }}</li>
        <li>{{ $gettext('Latest Chrome version and desktop') }}</li>
        <li>{{ $gettext('Safari 12.1+ on MacOS') }}</li>
        <li>{{ $gettext('Latest Chrome version on mobile') }}</li>
        <li>{{ $gettext('Latest Firefox on mobile') }}</li>
        <li>{{ $gettext('Safari 12.4+ on iOS') }}</li>
      </ul>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
