<template>
  <div class="find-peertube">
    <h2>
      <SafeHTML>
        {{ $gettext('<strong>What do we find</strong>, on PeerTube?', true) }}
      </SafeHTML>
    </h2>

    <div class="small-separator"></div>

    <p class="title-information">
      <SafeHTML>
        {{ findPeerTubeSubtitle }}
      </SafeHTML>
    </p>

    <div class="tab-header">
      <SepiaSearchImage class="sepia-search-image d-none d-xl-inline" width="217" height="182" />

      <a id="find-peertube-instances" href="#find-peertube-instances" :class="{ 'tab-active': findPeerTubeTab === 'instance' }" @click="findPeerTubeTab = 'instance'">
        <span class="d-none d-md-inline">{{ $gettext('Platforms created with PeerTube') }}</span>
        <span class="d-md-none">{{ $gettext('Platforms') }}</span>
      </a>

      <a id="find-peertube-videos" href="#find-peertube-videos" :class="{ 'tab-active': findPeerTubeTab === 'video' }" @click="findPeerTubeTab = 'video'">
        <span class="d-none d-md-inline">{{ $gettext('Videos hosted on a PeerTube platform') }}</span>
        <span class="d-md-none">{{ $gettext('Videos') }}</span>
      </a>
    </div>

    <div class="big-container color-container">
      <div v-if="findPeerTubeTab === 'instance'" class="jpt-container card-container">

        <div v-for="item in contentSelectionInstances" :key="item.url" class="card card-instance">

          <img width="117" height="70" :src="buildImgUrl('content-selection-thumbnails/' + item.thumbnailName)" alt="" />

          <div>
            <h4>{{ item.title }}</h4>
            <div class="small-separator"></div>

            <p>
              <SafeHTML>{{ item.shortDescription }}</SafeHTML>
            </p>

            <a class="jpt-secondary-button jpt-smaller-button jpt-link-button" target="_blank" rel="noopener noreferrer" :href="item.url">
              {{ $gettext('Explore this platform') }}
            </a>
          </div>
        </div>

      </div>

      <div v-if="findPeerTubeTab === 'video'" class="jpt-container card-container">
        <div v-for="item in contentSelectionVideos" :key="item.url" class="card card-video">
          <img width="240" height="135" :src="buildImgUrl('content-selection-thumbnails/' + item.thumbnailName)" alt="" />

          <div>
            <h4>{{ item.title }}</h4>
            <div class="small-separator"></div>

            <p>
              <SafeHTML>{{ item.shortDescription }}</SafeHTML>
            </p>

            <a class="jpt-secondary-button jpt-smaller-button jpt-link-button" target="_blank" rel="noopener noreferrer" :href="item.url">
              {{ $gettext('Watch the video') }}
            </a>
          </div>
        </div>
      </div>

      <router-link to="/browse-content" class="jpt-primary-button jpt-link-button">
        {{ $gettext('Discover more content') }}
      </router-link>
    </div>
  </div>
</template>

<script>
  import { defineComponent } from 'vue'

  import SepiaSearchImage from '../SepiaSearchImage.vue'
  import ContentSelectionsEN from '../../mixins/ContentSelectionsEN'
  import ContentSelectionsFR from '../../mixins/ContentSelectionsFR'

  export default defineComponent({
    components: {
      SepiaSearchImage
    },

    mixins: [
      ContentSelectionsEN,
      ContentSelectionsFR
    ],

    data () {
      const currentLanguage = this.$language.current.replace('_', '-')
      const findPeerTubeSubtitle = this.$gettext(
        'Discover our recommendations selected among the <strong>%{ videos } videos</strong> and the <strong>%{ platforms } platforms</strong> of the PeerTube network',
        { videos: Number(600000).toLocaleString(currentLanguage), platforms: Number(1000).toLocaleString(currentLanguage) }
      )

      return {
        findPeerTubeSubtitle,

        findPeerTubeTab: 'instance',

        contentSelectionInstances: [],
        contentSelectionVideos: [],

        maxItems: 0
      }
    },

    mounted () {
      this.contentSelectionInstances = this.getContentSelections('instance')
      this.contentSelectionVideos = this.getContentSelections('video')

      if (window.location.hash === '#find-peertube-videos') {
        this.findPeerTubeTab = 'video'
      }
    },

    methods: {
      getContentSelections (type) {
        let maxItems = 2

        if (window.screen.width > 800) {
          maxItems = 4
        }

        if (window.screen.width > 1200) {
          maxItems = 6
        }

        const base = this.$language.current.startsWith('fr_')
          ? this.contentSelectionsFR
          : this.contentSelectionsEN

        return base.filter(c => c.type === type && c.homepage === true)
          .slice(0, maxItems)
      }
    }
  })
</script>

<style lang="scss" scoped>
  @import '../../scss/_variables';
  @import '../../scss/_mixins';
  @import '../../scss/_bootstrap-mixins.scss';

  .find-peertube {
    @include margin-top(5rem);

    align-items: center;
    display: flex;
    flex-direction: column;

    > h2 {
      text-align: center;
      font-family: inherit;
    }

    .title-information {
      text-align: center;
      font-size: 1rem;
      max-width: 600px;
      margin: auto;
    }

    .tab-header {
      margin: 2rem auto 0 auto;
      width: fit-content;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      bottom: -1px;

      .sepia-search-image {
        position: absolute;
        bottom: -7px;
        left: -220px - 50px;
        width: 220px;
        transform: scaleX(-1);
      }

      a {
        @include disable-default-a-behaviour;
        @include font-size(1.125rem);

        color: $main-font-color;
        margin: 0 1.5rem;

        &:not(.tab-active) {
          opacity: 0.8;

          &:hover {
            opacity: 1;
          }
        }

        &.tab-active {
          @include peertube-link($hover-effect: false);
        }
      }
    }

    @include media-breakpoint-down(sm) {
      > h2 {
        text-align: left;
      }

      > .small-separator {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .big-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      > .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .card {
          @include rfs(1rem 1.75rem, margin);
          @include rfs(2rem 1.5rem, padding);

          max-width: 350px;

          h4 {
            @include font-size(1.25rem);

            font-weight: $font-bold;
          }

          img {
            background-color: #fff;
            border: 1px solid $beige-700;
            border-radius: 2px;
            box-shadow: 4px 4px 0 0 $beige-700;
          }

          p,
          .jpt-secondary-button {
            font-size: 0.85rem;
          }
        }

        .card-instance {
          display: flex;

          img {
            margin: -15px 15px 0 -65px;
          }

          p {
            margin: 30px 0;
          }
        }

        .card-video {
          @include padding(1.5rem);

          display: flex;
          flex-direction: column;
          max-width: 300px;
          height: fit-content;

          img {
            max-width: 100%;
            height: auto;
            width: 240px;
            margin-bottom: 20px;
          }

          p {
            margin: 15px 0;
          }
        }

        @include media-breakpoint-down(sm) {
          .card {
            margin-left: 0;
            margin-right: 0;
          }

          .card-instance {
            flex-direction: column;

            img {
              margin: 0 0 1rem;
            }
          }
        }
      }

      > .jpt-primary-button {
        margin-top: 50px;
        width: fit-content;
      }
    }
  }
</style>

