<template>
  <div class="card instance-card">

    <div class="d-flex justify-content-between">
      <div class="left">
        <div class="title d-flex align-items-baseline flex-wrap">
          <h3><strong>{{ instance.name }}</strong></h3>

          <div class="small-description">{{ instance.host }}</div>
        </div>

        <div class="small-separator"></div>

        <p :title="instance.shortDescription">
          {{ truncatedDescription }}
        </p>

        <div class="tags">
          <template v-for="category in limitedCategories">
            <div v-if="translatedThemes[category]" :key="category" class="tag">{{ translatedThemes[category] }}</div>
          </template>
        </div>
      </div>

      <div class="right d-flex flex-column flex-wrap">
        <template v-if="isVideoMaker">
          <div class="small-description">
            <div v-if="instance.userVideoQuota">
              {{ bytes(instance.userVideoQuota) }}
              <span>{{ $gettext('per user') }}</span>
            </div>

            <div v-else>
              {{ $gettext('No video quota per user') }}
            </div>
          </div>

          <div v-if="instance.autoBlacklistUserVideosEnabled" class="small-description">
            {{ $gettext('Video publication after moderation') }}
          </div>

          <div class="small-description">
            {{ $ngettext('%{ total } follower', '%{ total } followers', instance.totalInstanceFollowers, { total: instance.totalInstanceFollowers }) }}
          </div>
        </template>

        <template v-else>
          <div class="small-description">
            {{ $ngettext('%{total } subscription', '%{total } subscriptions', instance.totalInstanceFollowing, { total: instance.totalInstanceFollowing }) }}
          </div>
        </template>

        <div v-if="Array.isArray(instance.languages) && instance.languages.length !== 0" class="small-description">
          <div>{{ languages }}</div>
        </div>

        <div class="small-description">
          <div v-if="instance.defaultNSFWPolicy === 'do_not_list'">{{ $gettext('Sensitive content not displayed') }}</div>
          <div v-if="instance.defaultNSFWPolicy === 'blur'">{{ $gettext('Sensitive content blurred') }}</div>
          <div v-if="instance.defaultNSFWPolicy === 'display'">{{ $gettext('Sensitive content displayed') }}</div>
        </div>

        <div class="link text-nowrap">
          <a :href="getUrl(instance)" class="jpt-router-link" target="_blank" rel="noopener noreferrer">
            <span class="text">{{ $gettext('Go to this platform') }}</span>
          </a>

          <icon-right></icon-right>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { defineComponent } from 'vue'

  import IconRight from './icons/IconRight.vue'
  import { truncate } from 'lodash-es'

  export default defineComponent({
    components: {
      IconRight
    },

    props: {
      instance: Object,
      translatedThemes: Object,
      translatedLanguages: Object,
      isVideoMaker: Boolean
    },

    computed: {
      truncatedDescription () {
        const t = this.instance.shortDescription

        return truncate(t, { separator: /,? /, length: 200 })
      },

      languages () {
        return this.instance.languages
          .map(l => this.translatedLanguages[l])
          .filter(l => !!l)
          .join(', ')
      },

      limitedCategories () {
        if (Array.isArray(this.instance.categories) === false) return []

        return this.instance.categories.slice(0, 3)
      }
    },

    mounted () {

    },

    methods: {
      bytes (value) {
        if (value === -1) return this.$gettext('Unlimited space')

        // https://github.com/danrevah/ngx-pipes/blob/master/src/pipes/math/bytes.ts
        const dictionaryBytes = [
          { max: 1024, type: this.$gettext('B') },
          { max: 1048576, type: this.$gettext('KB') },
          { max: 1073741824, type: this.$gettext('MB') },
          { max: 1.0995116e12, type: this.$gettext('GB') }
        ]

        const format = dictionaryBytes.find(function (d) { return value < d.max }) || dictionaryBytes[dictionaryBytes.length - 1]
        const calc = Math.floor(value / (format.max / 1024)).toString()

        return calc + format.type
      },

      getUrl (instance) {
        return `https://${instance.host}`
      }
    }
  })
</script>

<style lang="scss" scoped>
  @import '../scss/_variables.scss';
  @import '../scss/_mixins.scss';
  @import '../scss/_bootstrap-mixins.scss';

  .instance-card {
    @include font-size-14px;
    @include adapt-link-size-14px;
    @include padding(2rem 1.5rem);
    @include margin-bottom(3rem);

    .left {
      margin-right: 10px;

      .title {
        > h3 {
          margin-right: 10px;
        }

        .small-description {
          white-space: nowrap;
          margin-bottom: 0.5rem;
        }
      }
    }

    .right {
      min-width: 180px;

      .small-description {
        margin-bottom: 3px;
      }
    }

    h3 {
      @include font-size(1.25rem);

      font-family: inherit;
    }

    .small-description {
      @include font-size-14px;
      @include adapt-link-size-14px;
    }

    .small-separator {
      width: 25px;
      height: 3px;
    }

    p {
      margin: 1rem 0;
    }

    .link {
      padding-top: 15px;
      margin-top: auto;
      text-align: right;

      .jpt-router-link {
        margin-right: 10px;
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
    }

    @include media-breakpoint-down(sm) {
      > .d-flex {
        flex-wrap: wrap;
      }

      .tags {
        margin-bottom: 10px;
      }

      .link {
        text-align: left;
      }
    }
  }
</style>
