<template>
  <accordion-element id="Do you control what is uploaded on a PeerTube platform?">
    <template #title>
      {{ $gettext('Do you control what is uploaded on a PeerTube platform?') }}
    </template>

    <div>
      <p>
        {{ $gettext('No we don\'t, because PeerTube is not a service but a free software.') }}

        {{ $gettext('This means that anyone can download and install PeerTube to host videos on a specific domain name (this is called "hosting a PeerTube platform/website").') }}

        {{ $gettext('Framasoft has no control over who downloads PeerTube and who installs or uses it.') }}

        {{ $gettext('Nor does Microsoft or Adobe have any control over who uses Word or Photoshop and for what purposes.') }}
      </p>

      <p>
        <SafeHTML>
          {{ $gettext('Framasoft only hosts and promotes two PeerTube platforms: <a href="https://framatube.org" target="_blank">https://framatube.org</a> and <a href="https://peer.tube" target="_blank">https://peer.tube</a>', true) }}
        </SafeHTML>
      </p>

      <p>
        <SafeHTML>
          {{ $gettext('Also, Framasoft hosts and promotes only one PeerTube search index: <a href="https://sepiasearch.org" target="_blank">https://sepiasearch.org</a>', true) }}
        </SafeHTML>
      </p>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
