<template>
  <accordion-element id="How does PeerTube count views?">
    <template #title>
      {{ $gettext('How does PeerTube count views?') }}
    </template>

    <div>
      <p>
        {{ $gettext('Your web browser sends a view to the server after 30 seconds of playback.') }}
        {{ $gettext('If a video is less than 30 seconds in length, a view is sent after 75% of the video duration.') }}
        {{ $gettext('After giving a view, that IP address cannot add another view in the next hour.') }}
        {{ $gettext('Views are buffered, so don\'t panic if the view counter stays the same after you watched a video.') }}
      </p>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
