<template>
  <div class="jpt-container subscribe-container card two-columns">
    <div class="left">
      <p class="subscribe-question">{{ $gettext('You prefer to be directly informed of PeerTube news? Subscribe to our newsletter!') }}</p>

      <p>
        <SafeHTML>
          {{ $gettext('Or you prefer to subscribe to the PeerTube <strong>RSS feed</strong>?', true) }}
        </SafeHTML>

        <span>&nbsp;</span>

        <a target="_blank" rel="noopener noreferrer" :href="getSyndicationLink()">{{ $gettext('Here is the link!') }}</a>
      </p>
    </div>

    <div class="right">
      <form action="https://listmonk.framasoft.org/subscription/form" method="post">
        <label for="newsletter-email">{{ $gettext('Your email address') }}</label>

        <input
          id="newsletter-email" v-model="email" name="email"
          :placeholder="getEmailPlaceholder()" required type="email"
        />

        <p class="small-description">
          {{ $gettext('We will send you a few emails per year about new developments around PeerTube.') }}

          <br />

          {{ $gettext('You can unsubscribe at any time. Your email address will never be given to anyone.') }}
        </p>

        <button class="jpt-primary-button jpt-smaller-button" name="subscribe" type="submit" :value="getSubscribeButtonLabel()">
          {{ $gettext('Subscribe') }}
        </button>

        <input name="nonce" type="hidden" />
        <div style="display: none;">
          <input id="e97e4" checked name="l" type="checkbox" value="e97e4fa6-cf8d-4741-8fcd-4f60ab81ef30" />
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import { defineComponent } from 'vue'

  export default defineComponent({
    data: function () {
      return {
        email: ''
      }
    },

    methods: {
      getEmailPlaceholder () {
        return this.$gettext('name@example.com')
      },

      getSyndicationLink () {
        const rssLang =  this.getCurrentShortLocale() === 'fr'
          ? 'fr'
          : 'en'

        return '/rss-' + rssLang + '.xml'
      },

      getSubscribeButtonLabel () {
        return this.$gettext('Subscribe to the newsletter')
      }
    }
  })
</script>

<style lang="scss" scoped>
  @import '../../scss/_variables.scss';
  @import '../../scss/_mixins.scss';
  @import '../../scss/bootstrap-mixins.scss';

  .subscribe-container {
    padding: 30px;
    margin-bottom: 25px;
    align-items: flex-start;

    .subscribe-question {
      @include font-size(1.5rem);

      font-weight: $font-semibold;
    }

    label {
      @include proza;
      @include font-size(1.15rem);

      font-weight: $font-bold;
    }

    input {
      width: 100%;
    }

    .small-description {
      margin: 10px 0;
    }
  }
</style>
