<template>
  <div>
    <article :id="article.id" :key="article.id" class="news-article card">
      <div class="published-date">{{ article.date.toLocaleDateString(getCurrentShortLocale()) }}</div>

      <component :is="headingType">
        <router-link :to="'/news/' + article.id">
          <strong>{{ article.title }}</strong>
        </router-link>
      </component>

      <div class="small-separator"></div>

      <!-- eslint-disable-next-line vue/no-v-html -->
      <div class="body" @click="onNewsClick($event)" v-html="article.html"></div>
    </article>

    <div id="modal" :class="{ 'hide-modal': hideModal }" @click="closeModal()">
      <img loading="lazy" :src="modalImgSrc" />

      <div class="caption">{{ modalCaption }}</div>
    </div>
  </div>
</template>

<script>
  import { defineComponent } from 'vue'

  export default defineComponent({
    props: {
      article: Object,
      headingType: {
        type: String,
        default: 'h3'
      }
    },

    data: function () {
      return {
        modalImgSrc: '',
        modalCaption: '',
        hideModal: true
      }
    },

    methods: {
      onNewsClick (event) {
        if (event.target instanceof HTMLImageElement) {
          return this.openModal(event)
        }
      },

      openModal (event) {
        const img = event.target

        this.hideModal = false
        this.modalImgSrc = img.src
        this.modalCaption = img.alt
      },

      closeModal () {
        this.hideModal = true
        this.modalImgSrc = ''
        this.modalCaption = ''
      }
    }
  })
</script>

<style lang="scss">
  // Not scoped because we want to style generated HTML
  @import '../../scss/_variables.scss';
  @import '../../scss/_mixins.scss';
  @import '../../scss/_bootstrap-mixins.scss';

  .news-article {
    @include padding(2rem 2.5rem);

    @include media-breakpoint-down(sm) {
      padding: 20px;
      border-right: none;
      border-left: none;
      border-radius: 0;
    }

    margin: 15px 0;

    .published-date {
      color: $secondary-font-color;
      margin-bottom: 10px;
    }

    h1,
    h3 {
      // For the mascot
      @include media-breakpoint-up(sm) {
        margin-right: 120px;
      }

      a {
        @include disable-default-a-behaviour;

        color: inherit;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    h1 {
      @include font-size(1.75rem);
    }

    .body {
      margin-top: 40px;

      p {
        @include wrap-text;

        margin-bottom: 10px;
      }

      p + *:not(ul),
      ul + *:not(ul) {
        margin-top: 1rem;
      }

      a {
        word-break: break-word;
      }

      h4 {
        @include font-size(1.25rem);

        margin: 2rem 0 1rem 0 !important;
      }

      h5 {
        @include font-size(1.125rem);

        margin: 1.5rem 0 1rem 0 !important;
      }

      h4,
      h5 {
        font-weight: $font-bold;
      }

      img {
        cursor: pointer;
        max-width: 100%;
        height: auto;
      }

      figure {
        margin: 30px 0;
        border: 10px solid $beige-500;

        figcaption {
          @include font-size-14px;
          @include adapt-link-size-14px;

          background: $beige-500;
          text-align: center;
          padding: 10px 0 0;
        }
      }
    }
  }

  #modal {
    &.hide-modal {
      display: none;
    }

    position: fixed;
    z-index: 1;
    padding-top: 5vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);

    img {
      margin: auto;
      display: block;
      height: auto;
      width: auto;
      max-height: 90%;
    }

    .caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px;
    }

    img,
    .caption {
      animation-name: zoom;
      animation-duration: 0.6s;
    }
  }
</style>
