$font-bold: 700;
$font-semibold: 600;

$main-font-color: #212529;
$secondary-font-color: #666a6d;

$orange-main: #F2690D;
$orange-600: #D24C00;

$beige-300: #FFFAF6;
$beige-400: #FFF5EB;
$beige-500: #FCE8DB;
$beige-600: #FCE1CF;
$beige-700: #FFC99E;
$beige-800: #FFB370;

$grey: #666;

$main-horizontal-padding: 1rem;
