@import '_variables';
@import '_mixins';
@import '_bootstrap-mixins.scss';

.jpt-accordion {

  .card {
    background: $beige-500;
    border-radius: 4px;
    border: 1px solid $beige-700;
    margin-bottom: 1rem;
  }

  .card-header a,
  .card-body {
    @include padding(1rem 2rem);
  }

  .card-header {
    @include font-size(1.125rem);

    text-align: left;
    background: transparent;
    border: none;

    margin: 0;
    line-height: inherit;
    font-family: inherit;
    font-weight: $font-bold;

    a:hover {
      text-decoration: underline;
    }
  }

  @include media-breakpoint-down(sm) {
    .card-header a,
    .card-body {
      padding: 1rem 1rem;
    }

    .card-header {
      font-size: 1rem;
    }
  }

  .card-body {
    background-color: $beige-400;

    h4 {
      font-size: 1rem;
      font-weight: $font-semibold;
    }
  }

  .collapse.show,
  .collapsing {
    border-top: 1px solid $beige-700;
  }
}
