<template>
  <accordion-element id="If it's free, can we upload illegal stuff on PeerTube?">
    <template #title>
      {{ $gettext('If it\'s free, can we upload illegal stuff on PeerTube?') }}
    </template>

    <div>
      <p>
        {{ $gettext('Being free doesn\'t mean being above the law! Each PeerTube hosting provider can decide on its own general conditions of use, abiding by their local laws.') }}
      </p>

      <p>
        <SafeHTML>
          {{ $gettext('For example, in France, discriminatory content <a target="_blank" rel="noopener noreferrer" href="https://fr.wikipedia.org/wiki/Lois_contre_le_racisme_et_les_discours_de_haine">is prohibited</a> and may be reported to authorities. PeerTube allows users to report problematic videos, and administrator must then apply its moderation in accordance with its terms and conditions and the law.', true) }}
        </SafeHTML>
      </p>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
