<template>
  <accordion-element id="What are the PeerTube features for developers?">
    <template #title>
      {{ $gettext('What are the PeerTube features for developers?') }}
    </template>

    <div>
      <ul class="multi">
        <li>
          <strong>{{ $gettext('Free and open-source software') }}</strong>

          <ul>
            <li>
              <SafeHTML>
                {{ $gettext('View, share and update <a target="_blank" rel="noopener noreferrer" href="https://github.com/Chocobozzz/PeerTube">PeerTube code</a>', true) }}
              </SafeHTML>
            </li>
            <li>{{ $gettext('Join a community of admins, video makers and viewers') }}</li>
          </ul>
        </li>

        <li>
          <strong>{{ $gettext('PeerTube REST API') }}</strong>

          <ul>
            <li>
              <SafeHTML>
                {{ $gettext('Test PeerTube REST API with the <a target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/api/rest-getting-started">getting started guide</a>', true) }}
              </SafeHTML>
            </li>

            <li>
              <SafeHTML>
                {{ $gettext('Check the <a target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/api/rest-reference.html">REST API documentation</a>', true) }}
              </SafeHTML>
            </li>

            <li>
              <SafeHTML>
                {{ $gettext('Get help on <a target="_blank" rel="noopener noreferrer" href="https://framacolibri.org/c/peertube">PeerTube forum</a>', true) }}
              </SafeHTML>
            </li>
          </ul>
        </li>

        <li>
          <strong>{{ $gettext('Player embed API') }}</strong>

          <ul>
            <li>{{ $gettext('Use the PeerTube player embed on your website') }}</li>

            <li>
              <SafeHTML>
                {{ $gettext('Control the PeerTube player embed using the <a target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/api/embed-player">embed API</a>', true) }}
              </SafeHTML>
            </li>

            <li>
              <SafeHTML>
                {{ $gettext('Get help on <a target="_blank" rel="noopener noreferrer" href="https://framacolibri.org/c/peertube">PeerTube forum</a>', true) }}
              </SafeHTML>
            </li>
          </ul>
        </li>

        <li>
          <strong>{{ $gettext('Plugins & Themes') }}</strong>

          <ul>
            <li>
              <SafeHTML>
                {{ $gettext('Develop plugins and themes using the <a target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/contribute/plugins">getting started guide</a>', true) }}
              </SafeHTML>
            </li>

            <li>
              <SafeHTML>
                {{ $gettext('Check the complete <a target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/api/plugins">plugin/theme documentation</a>', true) }}
              </SafeHTML>
            </li>

            <li>
              <SafeHTML>
                {{ $gettext('Get help on <a target="_blank" rel="noopener noreferrer" href="https://framacolibri.org/c/peertube">PeerTube forum</a> or ask new plugin/theme API in <a target="_blank" rel="noopener noreferrer" href="https://github.com/Chocobozzz/PeerTube">PeerTube issues</a>', true) }}
              </SafeHTML>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </accordion-element>
</template>

<script>
  import { defineComponent } from 'vue'

  import AccordionElement from '../shared/AccordionElement.vue'

  export default defineComponent({
    components: {
      AccordionElement
    }
  })
</script>
